body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding:20px;
}

nav ul {
    list-style: none;
    padding-top: 10px;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    background-color: #f3f3f9;
    padding: 60px 20px; /* Increased padding */
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px; 
    max-width: 1000px; 
    justify-content: center;
    align-items: center;
}
.card {
    background: white;
    padding: 25px; 
    border-radius: 12px; 
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    width: 320px; 
    min-height: 150px; 
}

.card h2 {
    color: #4CAF50;
    font-size: 20px; 
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 80px; 
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    margin: 0 12px; 
}
